.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Rubik, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.hero-section {
  height: 100%;
}

.about-section {
  background-color: #ddd;
}

.subject-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.services-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #6dabb1;
}

.about-grid {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin-left: 5%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.services-card-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-card {
  display: -ms-grid;
  display: grid;
  padding: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 1px none #000;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
}

.service-card-icon {
  margin-right: auto;
  margin-left: auto;
}

.home-hero-heading {
  width: 50%;
  margin: 15% auto auto;
  font-size: 50px;
  text-align: center;
}

.h2 {
  text-align: center;
}

.subjects-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.subjects-header {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: #2d1d5b;
  color: #fff;
  text-align: center;
}

.subject-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 100%;
  padding-left: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #6dabb1;
  list-style-type: none;
}

.subject {
  width: 23%;
  margin: 10px 1%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2d1d5b;
  border-radius: 10px;
  background-color: #fff;
  color: #2d1d5b;
  font-size: 20px;
  text-align: center;
}

.about-photo {
  width: 100%;
}

.about-hero-section {
  margin-top: 8vh;
}

.h1 {
  background-color: #ddd;
  text-align: center;
}

.h1.home-hero {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.mission-content-div {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 30px;
}

.mission-content {
  margin-bottom: 0px;
  padding: 30px;
}

.core-values-div {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  background-color: #ddd;
}

.core-values-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.core-value-card {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.core-value-icon {
  margin-right: auto;
  margin-left: auto;
}

.core-value-content {
  text-align: center;
}

.about-team-div {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.team-member-bio {
  text-align: center;
}

.team-member-name {
  text-align: center;
}

.team-member-photo {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.services-hero-section {
  margin-top: 8vh;
}

.services-summary-div {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.service-hero-section {
  margin-top: 8vh;
  background-color: #ddd;
}

.service-summary-section {
  margin-bottom: 30px;
}

.service-summary-div {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.service-summary-header {
  margin-right: auto;
  margin-left: auto;
  color: #2d1d5b;
  text-align: center;
}

.service-summary-content {
  margin-bottom: 0px;
  padding: 30px;
  border-style: none;
  border-width: 0px;
  border-color: #fff;
  border-radius: 20px;
  color: #2d1d5b;
}

.service-testimonials-div {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-color: #2d1d5b;
}

.service-testimonials-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.service-testimonial {
  background-color: transparent;
  color: #fff;
}

.service-price-section {
  margin-top: 30px;
}

.service-price-grid {
  display: -ms-grid;
  display: grid;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-price-card {
  border-radius: 30px;
  background-color: #6dabb1;
  text-align: center;
}

.contact-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  color: #2c8a94;
  text-align: center;
}

.time-input {
  display: inline-block;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 5px;
  padding-left: 5px;
}

.time-input.start {
  margin-right: 1%;
  margin-left: 0%;
}

.image {
  width: 10%;
  padding: 20px;
}

.form-label {
  color: #2c8a94;
}

.submit-button {
  background-color: #2c8a94;
}

.image-2 {
  display: inline-block;
  height: 8vh;
  margin-right: auto;
  margin-left: auto;
}

.background-video {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  position: static;
  bottom: 0px;
  margin-top: 20px;
  background-color: #ddd;
}

.footer-email {
  display: block;
  margin: 0px 10px;
  text-align: right;
}

.footer-phone {
  display: block;
  margin: 0px 10px;
  text-align: right;
}

.footer-cta {
  display: block;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: #2c8a94;
  text-align: center;
}

.home-hero-cta {
  display: block;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: #2c8a94;
  font-size: 16px;
  text-align: center;
}

.day-checkbox {
  display: inline-block;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  padding-left: 20px;
}

.day-div {
  display: inline-block;
  width: 13.8%;
}

.heading-2 {
  width: 50%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #2d1d5b;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100vw;
  height: 8vh;
}

.testimonial-name {
  color: #6dabb1;
  font-size: 20px;
  text-align: right;
}

.paragraph {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #2d1d5b;
  font-size: 20px;
  line-height: 30px;
}

.services-summary-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.line {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #2d1d5b;
}

@media screen and (max-width: 991px) {
  .about-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .services-card-grid {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .home-hero-heading {
    width: 100%;
    margin-top: 20%;
  }
  .subjects-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .h1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
  }
  .h1.home-hero {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .mission-content-div {
    width: 80%;
  }
  .core-values-div {
    width: 90%;
  }
  .core-values-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .about-team-div {
    width: 80%;
  }
  .team-member-photo {
    width: 50%;
  }
  .services-hero-section {
    background-color: #ddd;
  }
  .services-summary-div {
    width: 80%;
  }
  .service-summary-div {
    width: 80%;
  }
  .service-testimonials-div {
    width: 80%;
  }
  .service-price-grid {
    width: 80%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .contact-form {
    width: 80%;
  }
  .image-2 {
    width: 30vw;
  }
  .background-video {
    height: 74vh;
  }
  .footer-cta {
    width: 20%;
  }
  .home-hero-cta {
    width: 20%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 767px) {
  .home-hero-heading {
    width: 100%;
    margin-top: 30%;
  }
  .footer-cta {
    width: 50%;
  }
  .home-hero-cta {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .home-hero-heading {
    width: 100%;
  }
  .h1.home-hero {
    width: 100%;
  }
  .mission-content-div {
    width: 90%;
  }
  .core-values-div {
    width: 90%;
  }
  .about-team-div {
    width: 90%;
  }
  .team-member-photo {
    width: 100%;
  }
  .services-summary-div {
    width: 90%;
  }
  .contact-form {
    width: 90%;
  }
}

